@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #007AF3;
}

body {
  background: #F2F2F2;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
  position: relative;
  left: 10px;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #444444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: .3em;
  text-align: center;
  position: relative;
  left: 20px;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 2em;
  margin-top: .2em;
  text-align: center;
  position: relative;
  left: 20px;
}

.left-col .summary {
  font-size: 1.6em;
  line-height: 1.3em;
  text-align: left;
  font-weight: bold;
  position: relative;
  right: 400px;
  padding: 0 50px;
  margin: 0 5cm 5cm 10cm;
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  margin-right: 750px;
  margin-top: 2.5em;
  position: relative;
  top: 6cm;
  left: .5cm;
}

.left-col p.Chap1Desc {
  color: #444444;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  top: 100px;
  left: 130px;
  position: relative;
  right: 650px;
  top: 145px;
}

.left-col .secondary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
  margin-right: 750px;
  margin-top: 2.5em;
  position: relative;
  bottom: 0;
  left: .5cm;
  top: 4cm;
}

.left-col p.Chap2Story {
  color: #444444;
  text-align: center;
  font-size: 1.5em;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-weight: bold;
  padding: 0;
  margin: 0;
  display: block;
  -ms-grid-column-align: start;
      justify-self: start;
  display: inline;
  position: relative;
  left: 130px;
  top: 100px;
  bottom: 20px;
}

.left-col *
.watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col *
.watch-video-cta img {
  margin-right: .5em;
}

.hero-img {
  width: 70%;
  margin-top: 3em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

article {
  width: clamp(200px, 50%, 600px);
}
/*# sourceMappingURL=chapters.css.map */